/**********************************
Basic styles
**********************************/
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

}

.heading {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

.heading,
.search-area,
.search-title,
footer {
  text-align: center;
}


/******************************************
    Search Area
*******************************************/

.search-area {
  margin-bottom: 25px;
}

#search-box {}

.search {
  background: rgba(50, 50, 50, 0.2);
  border: 0px solid #dbdbdb;
  padding: 8px 15px;
}

#search-button {
  border: 2px solid crimson;
  background-color: crimson;
  color: #fafafa;
  left: -8px;
  position: relative;
  padding: 6px 15px;
}

/******************************************
  Wiki Content
*******************************************/

.wiki-content {
  font-family: 'Slabo 27px', serif;
  margin: 0 10px;
}

.result {
  margin-bottom: 40px;
}

.result h3 {
  color: crimson;
}

.result a {
  font-size: 0.8em;
}


/******************************************
     Footer
*******************************************/

.wiki-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wiki-content {
  flex: 1;
}

footer {
  margin-top: 30px;
}


/******************************************
   Media queries tablets and desktop
*******************************************/
/* CSS Rules used when query matches */
@media (min-width: 550px) {
  body {
    font-size: 1.3em;
  }
}

@media (min-width: 550px) {
  .wrapper {
    margin: 0 auto;
    width: 520px;
  }
}

@media (min-width: 768px) {
  
  .wrapper {
    margin: 0 auto;
    width: 760px;
  }
  #search-box {
    width: 300px;
  }
}
